/*
FILE:			css/index.css
AUTHOR:			ERIC PHUNG
DATE:			2017.06.27
ASSIGNMENT:		LAB 
PURPOSE:		Custom style sheet as template for website
*/


h1 {color: #473E3F;}/* dark gray*/

h3 {color: #218C8D;}/*teal*/




/* unvisited link */
a:link {
    color: #473E3F;/* dark gray*/
}

/* visited link */
a:visited {
    color: #EF7126;/*salmon*/
}

/* mouse over link */
a:hover {
    color: #6CCECB;/*light turquoise*/
}

/* buttons */

.btn.btn-primary {
  color: white;
  background-color: #6CCECB;/*light turquoise*/
  border: none;
  
}

.btn.btn-primary:hover {
    background-color: #218C8D;/*teal*/
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


body {color: #473E3F;}/* darkgray*/


label {
    color: #473E3F;/* dark gray*/}

select {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;       /* remove default arrow */
  background-image: url(...);   /* add custom arrow */

}

.help-block {color: #EF7126;/*salmon*/}


